* {
    border:        none;
    border-radius: 0;
    font-family:   Inconsolata ;
    font-size:     15px;
    font-weight:     bold;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(1, 1, 1, 0.40);
}

window#waybar.solo {
    background: rgba(1, 1, 1, 0.40);
}

#workspaces {
    border-radius: 20px;
    background: rgba(40, 42, 54, 0.85);
    transition: none;
}

#workspaces button {
    transition: none;
    color:      rgba(217, 216, 216, 0.4);
    background: transparent;
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid #9aedfe;
    color: #9aedfe;
}

#workspaces button:hover {
    border-top: 3px solid #ff79c6;
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #ff79c6;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  15px;
}


#temperature {
	margin-right: 6px;
	background: rgba(150,0,150, 0.9);
	margin-left: 4px;
	margin-right: 0px;
	padding-left:5px ;
	padding-right: 5px;
	border-radius: 20px;
}
#backlight {
	margin-right: 30px;
	margin-right: 6px;
	background: rgba(200,100,80, 0.9);
	margin-left: 4px;
	margin-right: 0px;
	padding-left:5px ;
	padding-right: 5px;
	border-radius: 20px;
}

#clock {
    margin-left: 4px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    /*font-style: italic;*/
    color: #ffffff;
    background: rgba(20, 100, 150, 0.9);
}

#custom-notif {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgb(238,130,238);
}

#custom-cmus {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    /*color: #4d4d4d;*/
    background: rgba(188, 143, 143, 0.85);
}
#network{
	margin-right: 20px;
	margin-right: 3px;
	background: rgba(90,0,140, 0.9);
	margin-left: 4px;
	margin-right: 0px;
	padding-left:5px ;
	padding-right: 5px;
	border-radius: 20px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-tidepool {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
}

#custom-tidepool.red {
    background: rgba(205, 92, 92, 0.85);
}

#custom-tidepool.orange {
    background: rgba(243, 156, 18, 0.85);
}

#custom-tidepool.yellow {
    background: rgba(252, 214, 112, 0.85);
}

#custom-tidepool.green {
    background: rgba(154, 205, 50, 0.85);
}

#custom-time {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 205, 50, 0.85);
}

#custom-weather {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(218, 112, 214, 0.85);
}

#custom-unsync {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#custom-storage {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#custom-storage-tor {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#custom-snapcount {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#pulseaudio {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(189, 183, 107, 0.85);
}

#cpu {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(205, 92, 92, 0.85);
}

#battery {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color:  rgba(220, 220,240, 1);
    background: rgba(70, 70, 240, 0.85);
}

#memory {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(222, 184, 135, 0.85);
}

#tray {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(119, 136, 153, 0.85);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
