@import "nord.css";

* {
	border: none;
	font-size: 13px;
	margin: 2px;
	font-family: Ubuntu Mono, Cascadia Mono, Product Sans ,Arial, Helvetica, sans-serif;
}
window#waybar {
	background-color: @base10;
	color: @base04;
  border-bottom: 2px solid @base00;
}
#workspaces, #tags {
	background-color: @base00;
	padding: 0px 5px 0px 5px;
	font-size: 15px;
  margin-right: 10px;
	border-radius: 10px;
}
#workspaces button, #tags button {
  background-color: transparent;
	font-size: 14px;
	margin: 0;
	color: @base06;
}
#window {
	color: @base04;
	margin: 0px;
  font-size: 14px;
	border-radius: 10px;
	padding: 0px 6px 0px 6px;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover, #tags button:hover {
	box-shadow: inherit;
	color: @base0A;
}
#workspaces button.focused, #tags button.focused {
	color: @base09;
}
#tags button.focused {
  font-weight: 600;
}
#workspaces button.urgent {
	color:  @base0B;
}
#tags button {
  color: @base03;
  font-weight: 600;
}
/* TASKBAR */
#taskbar {
	margin: 0px;
}
#taskbar button {
	border-radius: 10px;
  font-size: 13px;
	padding: 0px 2px 0px 2px;
}
#taskbar button.active {
	background-color: @base00;
}
#taskbar button.minimized {
	/* color: @base0D; */
}
#taskbar button:hover {
	box-shadow: inherit;
	background-color: rgba(35,39,49,0.4);
}
/* BROWSER BOOKMARKS */
#custom-name, #custom-github,#custom-reddit,#custom-crunchyroll,#custom-youtube,#custom-mail, #custom-library {
	background-color: @base00;
	font-size: 18px;
  margin-left: 0;
  margin-right: 0;
	padding: 0px 15px 0px 15px ;
}
#custom-github {
	border-radius: 10px 0px 0px 10px;
	color: @base0C;
}
#custom-reddit {
	color: @base0D;
}
#custom-crunchyroll {
	color: @base0E;
	font-size: 15px;
}
#custom-youtube {
	color: @base0F;
}
#custom-mail {
	color: @base08;
	font-size: 16px;
	border-radius: 0px 10px 10px 0px;
}
/* WIDGETS */
#cpu, #custom-pacman, #memory, #backlight, #disk, #network, #pulseaudio, #custom-weather, #temperature {
  font-size: 14px;
	background-color: @base00;
	padding: 0px 14px 0px 14px;
	margin: 2px 0px 2px 0px;
}
#disk {
	color: @base0F;
}
#memory {
	color: @base0C;
}
#cpu {
	color: @base0B-light;
}
#network {
  color: #9da98d;
}
#custom-weather {
	color: @base09;
}
#custom-weather {
	padding: 0px 8px 0px 8px;
}
#custom-media, #mpd, #custom-mpd {
	font-size: 14px;
	border-radius: 10px;
  margin-left: 10px;
  background-color: transparent;
}
#custom-media.Playing {
	color: @base08;
	border-radius: 0px;
	font-weight: 500;
}
#custom-mpd {
	color: @base0F;
	border-radius: 0px;
	font-weight: 500;
}
#mpd.paused {
	color: @base03;
}
#mpd.playing {
	color: @base09;
}
#mpd.stopped {
  color: @base01;
}
#custom-pacman {
	color: @base0D;
	border-radius: 0px 10px 10px 0px;
	font-weight: 600;
}
#pulseaudio {
	color: @base07;
	border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
	color: @base03;
}
#temperature{
	color: @base08;
}
#temperature.critical {
	color: @base0D;
}
#battery {
	color: @base07;
	padding: 0px 8px 0px 8px;
}
#battery.charging {
	color: @base06;
}
@keyframes blink {
	to {
		background-color: #eceff4;
		color: @base00;
	}
}
#battery.critical:not(.charging) {
	background-color: @base0B;
	color: @base06;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
label:focus {
	background-color: @base00;
}
#idle_inhibitor {
	font-size: 18px;
	color: @base04;
}
#idle_inhibitor.activated {
	color: @base02;
}
#clock, #idle_inhibitor, #custom-power, #custom-recorder, #tray {
	background-color: @base00;
	padding: 2px 10px 0px 10px;
	margin: 2px 0px 2px 0px;
}
#clock {
	font-size: 14px;
}
#custom-recorder {
	padding: 2px 5px 0px 5px;
  font-size: 18px;
}
#custom-recorder.recording {
	color: @base0B;
}
#tray {
	border-radius: 10px 0px 0px 10px;
	margin-left: 10px;
	color: @base07;
}
#custom-power {
  color: @base06;
	font-size: 17px;
	border-radius: 0px 10px 10px 0px;
	margin-right: 2px;
}
